
@{
    ViewBag.Title = "BookLesson";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Content/css")

<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>

<section id="register" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-7 col-sm-7" data-wow-delay="0.6s">
                <h2 style="color:#f2545f">Register Here</h2>
                <br />
                <h3>All customers <span style="color:#f2545f">must</span> have an account to book lessons.</h3>
                <h3>If you are a new customer please register with us first.</h3>
                <h3>If you are an exisiting customer please log in to book lessons.</h3>
                <br />
            </div>

            @*<div class="wow fadeInUp col-md-5 col-sm-5" data-wow-delay="1s">
                    <form action="#" method="post">
                        <input name="firstname" type="text" class="form-control" id="firstname" placeholder="First Name">
                        <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Last Name">
                        <input name="phone" type="telephone" class="form-control" id="phone" placeholder="Phone Number">
                        <input name="email" type="email" class="form-control" id="email" placeholder="Email Address">
                        <div class="col-md-offset-6 col-md-6 col-sm-offset-1 col-sm-10">
                            <input name="submit" type="submit" class="form-control" id="submit" value="REGISTER">

            </div>
            </form>
        </div>*@
            <div class="col-md-offset-6 col-md-6 col-sm-offset-1 col-sm-10">
                
                <form action="~/Controllers/Account/Register">
                    <input name="submit" type="submit" class="form-control" id="submit" value="REGISTER" />
                </form>
                <input name="submit" type="submit" class="form-control" id="submit" value="LOG IN" />
               
           
            </div>

            <span>@Html.Partial("_LoginPartial")</span>

            <div class="col-md-1"></div>

        </div>
    </div>
</section>

