
<div class="container">
    <div class="col-lg-12">
        <br />
        <div style="color:#f2545f">
            <hr>
        </div>
        <h2 class="text-center">
            <span style="color:#f2545f">Contact </span><bold>MDDS<span style="color:#f2545f">Driving School</span></bold>
        </h2>
        <hr style="color:#f2545f">
    </div>
</div>
<section id="venue" class="parallax-section">
    <div class="container">
        <div class="row">
            
                <div class="col-md-6" id="mapBox">
                    <iframe width="100%" height="400" frameborder="0" src="https://maps.google.com/maps?q=google%20headquarters&t=&z=13&ie=UTF8&iwloc=&output=embed" style="border: 5px solid #f2545f" ></iframe>
                </div>
           
           
                <div class="col-md-4">                  
                    <div data-wow-delay="0.9s" style="background-color:white;font-size:xx-large">
                        
                        <div id="contactBox" style="">                            
                                <h2>MDDS HQ</h2>
                                <h2>xxxxx xxxxxx</h2>
                                <h2>xxxxx, xxxxxxxxxxx</h2>
                                <h2>xxxx xxx</h2>   
                           <hr />
                            <h4>
                                Phone: <strong>000 00000000</strong>
                            </h4>
                            <h4>
                                Mobile: <strong>079 9999 99999</strong>
                            </h4>
                            <h4>
                                Email: <strong><a href="mailto:username@gmail.com?Subject=Driving%20Lesson%20Query">username@gmail.com</a></strong>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

